<nav class="navbar navbar-expand-lg navbar-light" style="background-color: antiquewhite;">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="assets/sstt_logo.png" class="img-fluid" width="50px" alt="logo" /></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" aria-current="page" routerLink="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="/principal">Principal</a>
                </li>
                <li class="nav-item" *ngIf="auth0.isAuthenticated$ | async">
                    <a class="nav-link" routerLinkActive="active" routerLink="/user">Usuario</a>
                </li>

            </ul>
            <div *ngIf='img' id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <img [src]="img" class="foto">
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" routerLink='/user'>Mi Perfil</a></li>
                            <li><a class="dropdown-item" routerLink='/user/editarUsuario'>Editar perfil</a></li>

                        </ul>
                    </li>
                </ul>
            </div>
            <ng-container *ngIf="auth0.isAuthenticated$ | async; else loggedOut">

                <button class="btn btn-primary boton" (click)="auth0.logout({ returnTo: url })">
                Salir
              </button>
            </ng-container>

            <ng-template #loggedOut>
                <button class="btn btn-primary boton" (click)="auth0.loginWithRedirect()">Ingresar</button>
                <button class="btn btn-danger" (click)="auth0.loginWithRedirect()">Registrarse</button>
            </ng-template>

        </div>
    </div>
</nav>