.contenedor {
    padding: 4em 2em;
    display: flex;
    border: 1px solid black;
    background-color: antiquewhite;
}

.contenedor img {
    width: 100%;
    object-fit: contain;
    object-position: top;
    height: 100vh;
}